/* put CSS elements here*/
.h1{
    text-emphasis-color: #640d14;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.h2{
    font-family: 'Roboto', sans-serif;
    color: #12253d;
    text-align: center;
}

#mainTable{
    width:30%;
    margin:auto;
    border:1px solid #058ed9;
    font-size:20px;
    padding: 2px;
    font-family: 'Oswald, sans-serif';
    background-color: lightgrey;
  
}

body{
    background-color: lightblue;
}

.firstH,secondH,thirdH,fourthH,fifthH,sixthH{
border: 5px;
margin: auto;
padding: 2px;
}