/* put CSS elements here*/
h1{
    text-emphasis-color: #058ed9;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #12253d;
}

mainTable{
    width:30%;
    margin:auto;
    border:1px solid #058ed9;
    font-size:20px;
    padding: 2px;
    font-family: 'Oswald, sans-serif';
  
}

